@{
    ViewData["Title"] = "API Information";
}
<h1>@ViewData["Title"]</h1>

<p>The dad Jokes comes from <a href="https://icanhazdadjoke.com/">icanhazdadjoke</a> API</p>
<p>You can download my project from <a href="https://github.com/Andraoz85/DadJokes">github</a></p>
